*{
  margin: 0;
  padding: 0;
}
.fakeimg {
  height: 200px;
  background: #aaa;
}

.header{
  position: fixed;
  z-index: 10;
  width:100%;
  height: 8vh;
}

.logo{
  color: #000000;
}

#brand-name{
  position: absolute;
  left: 45px;
  top: 15px;
  font-family: Helvetica, sans-serif !important;
  font-weight: bolder;
  font-size: 22px;
  letter-spacing: -1.5px;
}

.nav-links{
  position: absolute;
  height:100em;
  width: 260px;
  background-color: rgb(255, 255, 255);
  padding-top: 40px;
  padding-left: 10px;
  top:0px;
  left: 0px;
  font-size: 20px;
  font-weight: 600;
  font-stretch: semi-condensed;
  list-style: none;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in;
}
.nav-active{
  transform: translateX(0%);
}
.nav-links .nav-item{
  color: rgb(0, 102, 255);
  padding-bottom: 20px;
}

.hamburger{
  position:relative;
  z-index: 10;
  top: auto;
  left: 17px;
  display:block;
  width:15px;
  cursor:pointer;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:none;
  outline:none;
  border:none
}

  .hamburger .bar,.hamburger:after,.hamburger:before{
    content:'';
    display:block;
    width:100%;
    height:2px;
    background-color:#000000;
    margin:3px 0px;
    -webkit-transition:0.4s;
    transition:0.4s
  }

    .hamburger.is-active:before{
      width: 15px;
      -webkit-transform:rotate(-45deg) translate(9px, -9px);
      transform:rotate(-45deg) translate(-1px, 2px);
    }
    
    .hamburger.is-active:after{
      width: 15px;
      -webkit-transform:rotate(45deg) translate(7px, -9px);
      transform:rotate(45deg) translate(-5px, -6px);
    }
    .hamburger.is-active .bar{
      opacity:0

    }

.button{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border:none;
  outline:none;
  background:none;
  display:inline-block;
  color:#FFF;
  font-size:20px;
  background-color:#FF9FDB;
  padding:12px 16px;
  border-radius:8px;
  text-decoration:none;
  text-transform:uppercase;
  font-weight:700;
  cursor:pointer;
}

.searchbox{
  position: relative;
  top:2px;
  left:35%;
  background-color: #fafafa;
  border-radius: 30px;
}

.searchbar{
  display:block;
  box-sizing: border-box;
  width:380px;
  height:30px;
  border-radius: 30px;
  padding: 9px 4px 9px 40px;
  background: transparent url("images/5402443_search_find_magnifier_magnifying_magnifying\ glass_icon.png") no-repeat;
  background-size: 21px;
  background-position: center;
  background-position-x: 15px;
  border: 1px solid #ececec;
}

.searchbutton{
  position: relative;
  left:80%;
  background: transparent url("images/5402443_search_find_magnifier_magnifying_magnifying\ glass_icon.png") no-repeat;
  background-size: 18px;
  width:30px;
  height: 30px;
  border-radius: 30px;
  background-position: center;
  border: 1px solid #ececec;
}
input::-webkit-input-placeholder {
  font-family: Adobe Clean;
  color: #8f8f8f;
  font-stretch: semi-expanded;
}
input:focus{
  outline: none !important;
  border: 1px solid #ececec;
}
input:focus + .searchbox{
  background-color: white !important;
}

@media (min-width: 1080px){
  .hamburger{
    display:none
  }
  #brand-name{
    left: 20px;
  }
  .nav-links{
    transform: translateX(0%);
    transition: none;
    flex-direction: row;
    height:auto;
    width:360px;
    padding-left: 0;
    padding-top: 0;
    left:105px;
    top:15px;
    justify-content: space-around;
    background-color: #ff9fda00;
  }
  .nav-links .nav-item{
    font-size: 15px;
    color: #333333;
  }
  .nav-link:hover{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
  
  .active{
    padding-bottom: 10px;
    border-bottom: 2px solid black;
  }
}

@media(max-width:1300px){
  .searchbar{
    display: none;
   }
   .searchbutton{
    display: block;
   }
}

.flexheading{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
.mainheading{
  font-family: Acumin Pro Bold, sans-serif;
  font-style:normal;
  font-weight: 900;
  margin-top: 15vh;
  font-size:auto;
  white-space: nowrap;
  text-align: center;
}

.subheading{
font-family: Acumin Pro, sans-serif;
width:60%;
font-stretch: extra-expanded;
font-size: auto;
text-align: center;
}

.card-header{
  box-sizing: border-box;
  padding-top: 15px;
  font-family: Acumin Pro;
  font-weight: bold;
}

.card-container{
  margin-top: 20px;
}

.card-container:hover img.img-fluid{
  filter:brightness(40%) !important;
}

@media(min-width: 1300px){
  .mainheading{
    font-size:60px;
  }
  .subheading{
    font-size: 25px;
  }
}

.btn{
  margin-top: 0 !important;
  padding-top:0 ;
  padding-bottom:30px;
  width:30px;
  height: 3vh;
}

.btn-group{
  padding-top: 0;
}

